.menu {
    max-width: 290px;
    margin: 10px 25px 0 32px;
    
    .profile {
        max-width: 220px;
    }
    
    nav {
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        
        .nav-button {
            margin: 13px 0;
        }
    }
}