.exhibit-sum {
    position: fixed;
    background-color: #668663;
    width: 28%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 20px;
    
    .open-sum-button {
        background-color: transparent;
        float: right;
        
        i {
            color: #FFFFFF;
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
        }
    }
    
    h2 {
            display: inline-block;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
        }
        
    .exhibit-fill-percents {
        font-size: 50px;
        line-height: 59px;
        color: #FFFFFF;
    }
    
    &.hidden {
        
    }
    
    &.visible {
        
    }
}

@media (max-width: 480px) {
    .exhibit-sum {
        position: static;
    }
}
