.icon-button {
    max-width: 151px;
    max-height: 32px;
    border-radius: 52px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 15px;
    color: #FFFFFF;
    background-color: #567354;
    
    i {
        color: #FFFFFF;
        font-weight: 900;
        font-size: 16px;
        line-height: 18px;
        margin-right: 8px;
    }
    
    span {
        line-height: 16px;
        vertical-align: top;
    }
    
    &:hover {
        background-color: #2b4b29;
        
        span, i {
            color: #bacaba;
        }
    }
    
    &:focus {
        box-shadow: 0 0 1px 1px #88a786;
    }
    
    &:active {
        background-color: #567354;
        
        span, i {
            color: #FFFFFF;
        }
    }
}

a.nav-button {
    max-width: 237px;
    height: 51px;
    background: #567354;
    border-radius: 52px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 13px 18px;
    color: #FFFFFF;
    
    i {
        color: #F3DBC7;
        line-height: 26px;
        font-weight: 900;
        font-size: 1.6rem;
        margin-right: 25px;
    }
    
    span {
        line-height: 25px;
        vertical-align: top;
    }
    
    &:hover {
        background-color: #F3DBC7;
        
        span, i {
            color: #567354;
        }
    }
    
    &:focus {
        box-shadow: 0 0 1px 1px #ffffff;
    }
    
    &:active {
        background-color: #FFFFFF;
        
        span, i {
            color: #567354;
        }
    }
    
    &.active {
        background: #FFFFFF;
        font-weight: 500;
        font-size: 1.3rem;
        
        span, i {
            color: #567354;
        }
        
        &:focus {
            box-shadow: inset 0 0 1px 1px #033F40;
        }
    }
}


.tab-button {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 19px;
    color: #484848;
    background-color: transparent;
    padding-bottom: 10px;
    margin: 0 19px -3px 0;
    
    &:focus {
        border-bottom: 3px solid #c1cfbf;
        border-radius: 2px;
    }
    
    &:hover {
        border-bottom: 3px solid #a0b69e;
        border-radius: 2px;
    }
    
    &:active {
        color: #000000;
        border-bottom: 3px solid #567354;
        border-radius: 2px;
    }
    
    &.active {    
        border-bottom: 3px solid #567354;
        border-radius: 2px;
    }
}
